<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.examstack.management.persistence.QuestionHistoryMapper">

	<insert id="addUserQuestionHist"
		parameterType="com.examstack.common.domain.exam.UserQuestionHistory">
		replace into
		et_user_question_history(question_id,user_id,question_type_id,is_right)
		values
		<foreach collection="array" item="item" separator=",">
			(#{item.questionId},#{item.userId},#{item.questionTypeId},#{item.right})
		</foreach>

	</insert>

	<select id="getUserQuestionHist"
		resultType="com.examstack.common.domain.exam.UserQuestionHistory">
		select a.question_id questionId,a.user_id userId,a.is_right
		"right",a.question_type_id questionTypeId,c.point_id
		pointId,c.point_name pointName,d.field_id
		fieldId,d.field_name
		fieldName from et_user_question_history
		a,et_question_2_point
		b,et_knowledge_point c,et_field
		d where a.user_id=#{userId} and
		a.question_id=b.question_id
		and b.point_id=c.point_id and
		c.field_id=d.field_id and
		d.field_id=#{fieldId}
	</select>

	<select id="getQuestionHistStaticByFieldId"
		resultType="com.examstack.common.domain.question.QuestionStatistic">
		select c.field_id fieldId,c.point_id pointId,c.point_name
		pointName,sum(1) amount,sum(case when a.is_right=1 then 1 else 0 end)
		rightAmount,
		sum(case when a.is_right=0 then 1 else 0 end) wrongAmount
		from et_user_question_history a,et_question_2_point
		b,et_knowledge_point c
		where a.question_id=b.question_id and
		b.point_id=c.point_id and c.field_id=#{fieldId} and
		a.user_id=#{userId} group by c.field_id,c.point_id,c.point_name
	</select>

	<select id="getTypeQuestionHistStaticByFieldId"
		resultType="com.examstack.common.domain.question.QuestionStatistic">
		select c.field_id fieldId,c.point_id pointId,c.point_name
		pointName,a.question_type_id questionTypeId,sum(1) amount,sum(case when a.is_right=1 then 1 else 0 end)
		rightAmount,
		sum(case when a.is_right=0 then 1 else 0 end) wrongAmount
		from et_user_question_history a,et_question_2_point
		b,et_knowledge_point c
		where a.question_id=b.question_id and
		b.point_id=c.point_id and c.field_id=#{fieldId} and
		a.user_id=#{userId} group by c.field_id,c.point_id,c.point_name,a.question_type_id
	</select>
</mapper>